.videoyt {
    max-width: 167px;
}

.marg {
    margin-bottom: 50px;
}

.margt {
    margin-top: 50px;
}

.margtt {
    margin-top: 900px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $color_9;
}

.botonito {
    display: block;
}

textarea {
    width: 20vw;
}

input {
    width: 10vw;
}

.enviarr {
    background-color: $background-color_5;
    border: solid #cda401;
    color: $color_5;
}