.encabezado {
  background-color: $background-color_1;
}

.interv {
  position: relative;
  height: 345px;
  background-color: $background-color_1;
  border-bottom: 8px solid #e2b502;
}

.logo {
  width: 250px;
}

.imgheaderr {
  max-width: 48.5vw;
  height: auto;
}