.footDiv {
    margin-top: 50px;
}

footer {
    margin-bottom: auto;
    margin-top: 1px solid;
    background-image: url(../img/back.png);
}

.logocoms {
    text-align: center;
}

.redes {
    img {
        width: 3vw;
    }
}