$color_1: #ad6d29;
$color_2: #fff;
$color_3: #ffb900;
$color_4: #f7cd5a;
$color_5: #cda401;
$color_6: #8a8a87;
$color_7: #c9c9ca;
$color_8: #333333;
$color_9: black;
$font-family_1: 'GillSans';
$font-family_2: 'Conv_IntroBlack';
$font-family_3: Arial, Helvetica, sans-serif;
$font-family_4: "Helvetica Neue", Helvetica, Arial, sans-serif;
$background-color_1: #ffcc00;
$background-color_2: #b98f1b;
$background-color_3: white;
$background-color_4: #ad6d29;
$background-color_5: #fff;