.expHavanna {
    display: grid;
  
    h2 {
      font-size: 3rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffb900;
      margin-top: 20px;
    }
  
    h3 {
      font-size: 2rem;
      font-weight: 100;
      text-transform: uppercase;
      color: #f7cd5a;
    }
  }
  